project: 
  name : "Note API"
  author: "Oleg Kozyrev"
  version: "0.0.1"

grpc:
  address: ":82"

database :
  host: "localhost"
  port : "5432"
  user : "postgres"
  password : "postgres"
  database : "postgres"
  sslmode : "disable"
  driver : "pgx"

metrics :
  address : ":9100"
  path : "/metrics"

kafka:
  host: "localhost"
  brokers:
  - ":9092"

getway:
  address : ":8080"